img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: fadeIn 4s;
}

#header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 0;
  animation: fadeIn 4s;
  font-size: 50px;
  color: #08fdd8;
}

#bioTextWrapper {
  color: white;
  text-align: center;
  max-width: 40%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: auto;
  animation: fadeIn 4s;
}

@media only screen and (max-width: 600px) {
  #bioTextWrapper {
    max-width: 90%;
  }
}

a:hover {
  color: blue;
}

a:default {
  color: black;
}

a:focus {
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  border-radius: 50%;
}
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
