section {
  text-align: left;
  margin-left: 10%;
  margin-right: auto;
  padding-top: 20%;
  margin-bottom: auto;
  max-width: 50%;
  animation: fadeIn 4s;
}

#steveTitle {
  font-size: 50px;
  color: #08fdd8;
  animation: fadeIn 4s;
}

#steveDetail {
  color: white;
  font-size: 20px;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  section {
    max-width: 90%;
  }
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
